apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: desigo
type: Opaque
stringData:
  POSTGRES_PASSWORD: "desigo123"
  JWT_SECRET: "supersecret"
  COOKIE_SECRET: "supersecret"
  REVALIDATE_SECRET: "supersecret"
  NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY: "pk_6287e8f13567fa73f16a07f779f3cfff61f93466a4b941750c51ab3b2ec3d8f2"
