apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: desigo
data:
  NODE_ENV: "production"
  PORT: "9000"
  DATABASE_URL: "postgres://desigo:desigo123@postgres-service:5432/desigo"
  REDIS_URL: "redis://redis-service:6379"
  ADMIN_CORS: "http://backend-service:9000"
  AUTH_CORS: "http://storefront-service:8000,http://backend-service:9000"
  STORE_CORS: "http://storefront-service:8000"
