# Kubernetes
k8s/overlays/development/backend-secrets.yaml
k8s/overlays/staging/backend-secrets.yaml
k8s/overlays/production/backend-secrets.yaml

# Docker
docker-compose.override.yaml

# Environment files

# IDE
.vscode/
.idea/

# OS
.DS_Store
