apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: desigo

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgresql.yaml
  - redis.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml

commonLabels:
  app: desigo
  part-of: desigo-ecommerce
